<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Live</title>
      <style>
        #videoElement {display: none;}
        #canvasElement {border: 1px solid black;}
        #photo {border: 1px solid black;}
      </style>
    </head>
    <body>
      <video autoplay="true" id="videoElement" ></video>
      <canvas id="inputCanvas"></canvas>
      <img id="outputCanvas">

      <div class="slidecontainer">
        <input type="range" step="1" min="-180" max="180" value="0" class="slider" id="angle">
        <p>Value: <span></span></p>
      </div>
      <div class="slidecontainer">
        <input type="range" step="1" min="-100" max="100" value="0" class="slider" id="translateX">
        <p>Value: <span></span></p>
      </div>
      <div class="slidecontainer">
        <input type="range" step="1" min="-100" max="100" value="0" class="slider" id="translateY">
        <p>Value: <span></span></p>
      </div>
      <div class="slidecontainer">
        <input type="range" step="0.01" min="0.1" max="2" value="0.5" class="slider" id="scale">
        <p>Value: <span></span></p>
      </div>
      <div class="slidecontainer">
        <input type="range" step="1" min="-180" max="180" value="0" class="slider" id="shear">
        <p>Value: <span></span></p>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
      <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
